:root {
    --tx: 0;
    --ty: 0;
    --scale: 1;
    --deg: 0deg;
}

body {
    height: 100vh;
    overflow: hidden;
    background: hsl(220, 12%, 16%);
}

.mover {
    --hue: 120;
    --duration: 2000ms;

    transform: 
    translate3d(var(--tx), var(--ty), 0) 
    scale(var(--scale)) 
    rotate(var(--deg));    

    transition: transform var(--duration) linear;
    will-change: transform;    

    background: hsl(var(--hue), 90%, 52%);
    width: 15vmin;
    height: 15vmin;
    border-radius: 10%;    
    margin: 1em;
}

.mover:nth-of-type(2) {
    --hue: 0;
    --duration: 3000ms;
  }
  .mover:nth-of-type(3) {
    --hue: 40;
    --duration: 4000ms;
  }
  .mover:nth-of-type(4) {
    --hue: 200;
    --duration: 5000ms;
  }

#controls {
    position: absolute;
    right: 1rem;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
  }

  @media screen and (orientation: portrait) {
    #controls {
      right: 50%;
      bottom: 0;
      transform: translateX(50%);
    }
  }

  input {
    width: 12rem;
    margin-bottom: 1rem;
  }

  label {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: .85rem;
    font-family: system-ui, -apple-system, sans-serif;
  }
